<!doctype html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>myshields.io</title>
  </head>
  <body>
    <div id="app" class="container">
      <div v-if="errorstate" class="alert alert-warning" role="alert">
          {{errorstate}}
      </div>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">myshields.io</a>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="(a github-style query)" aria-label="Search" v-model.lazy="query">
        </form>
      </nav>
      <div class="list-group">
          <repo-row v-for="repo in repositories" v-bind:key="repo.id" v-bind:repo="repo"></repo-row>
      </div>
    </div>
  </body>
  <script src="shieldsdashboard.js"></script>
</html>
